<app-header titulo="refresher"></app-header>

<ion-content>

     <h1>Desliza hacia abajo para el cargue</h1>  
  <ion-refresher slot="fixed" disabled="false" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">  
    <ion-refresher-content  
    pullingIcon="arrow-dropdown"  
    pullingText="refrescar"  
    refreshingSpinner="circles"  
    refreshingText="Refrescando..."></ion-refresher-content>  
  </ion-refresher>  
  <ion-list>    
    <ion-item *ngFor="let item of dummyList; let i=index">    
      Evento {{ i+1 }}  
    </ion-item>    
  </ion-list>  
  
  </ion-content>