<app-header titulo="slides"></app-header>
<ion-content class="ion-padding" color="dark">

  <ion-slides pager="true" [options]="slideopts">  
    <ion-slide> 
    <h2><b>Juan 3:16</b></h2> 
    <p>Porque de tal manera amó Dios al mundo, que ha dado a su Hijo unigénito, para que todo aquel que en él cree, no se pierda, mas tenga vida eterna.</p> 
    </ion-slide> 
    <ion-slide>  
    <h2><b>Colosenses 2:13-15</b></h2> 
    <p>Y a vosotros, estando muertos en pecados y en la incircuncisión de vuestra carne, os dio vida juntamente con él, perdonándoos todos los pecados,
      anulando el acta de los decretos que había contra nosotros, que nos era contraria, quitándola de en medio y clavándola en la cruz,
      y despojando a los principados y a las potestades, los exhibió públicamente, triunfando sobre ellos en la cruz.</p> 
    </ion-slide> 
    <ion-slide>  
    <h2><b>Lucas  5:31 - 32</b></h2> 
    <p> Respondiendo Jesús, les dijo: Los que están sanos no tienen necesidad de médico, sino los enfermos.
        No he venido a llamar a justos, sino a pecadores al arrepentimiento.</p> 
    </ion-slide> 
    <ion-slide>
      <h2><b>Romanos 3:23-24</b></h2>  
    <h2>Por cuanto todos pecaron, y están destituidos de la gloria de Dios, siendo justificados gratuitamente por su gracia, mediante la redención que es en Cristo Jesús</h2> 
    </ion-slide> 
    </ion-slides> 
</ion-content>
